.fuel-station {
  text-align: center;
  /* height: 25vh; */
  width: 80vw;
  box-shadow: 1px 1px 3px #6A9ECF;
  background-color:white;
  margin: 10px;
  padding: 5px; 
};

.name {
  font-weight: 100;
  text-shadow: none;
  color: darkslategray; 
}

.address {
  text-shadow: none;
  color: darkslateblue;
}

.fuel-type {
  color: hotpink;
}

.connector-type {
  flex-direction: row;
  font-size: small;
}