.fuel-station {
  text-align: center;
  height: 200px;
  width: 150px;
  box-shadow: 1px 1px 3px #6A9ECF;
  background-color:white;
  margin: 10px;
};


.name {
  font-weight: 100;
  text-shadow: none;
  color: darkslategray;
  
}

.address {
  text-shadow: none;
  color: darkslateblue;
  
}

.fuel-type {
  color: hotpink;
}

.connector-type {
  font-size: smaller;
}