.filter-menu {
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-template-rows: 50% 50%;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 7px;
  background-color: #E8EEF1;
  padding: 20px 10px 20px 30px;
  text-shadow: none;
  /* text-decoration: none; */
}